# Core
NEXT_PUBLIC_ENV=dev
DB_URL=postgres://user:password@humansonly_pg_db:5432/mydatabase

# Auth
AUTH_SECRET=replace-me
NEXTAUTH_SECRET=replace-me
NEXTAUTH_URL=http://localhost:8080
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=

# Redis / Upstash
UPSTASH_LB_REST_URL=
UPSTASH_LB_REST_TOKEN=
KV_REST_API_URL=
KV_REST_API_TOKEN=
